body {
	background-color: #9cb3d6;
}
* {
	padding: 0px;
	margin: 0px;
}

#menu {
	margin: auto;
	text-align: center;
}

ul, ol {
	list-style: none;
}

.navi li a {
	background-color: white;
	color: #4171c4;
	text-decoration: none;
	display: block;
}

.navi li a:hover {
	background-color: #4171c4;
	color: white;
}

.navi > li {
	float: left;
}

.navi li ul {
	display: none;
	position: absolute;
	max-width: 175px;
	min-width: 175px;
}

.navi li:hover > ul{
	display: block;
}

.navi li ul li {
	position: relative;
}

.navi li ul li ul {
	left: 175px;
	max-width: 190px;
	min-width: 190px;
	top:0px;
}

#main {
	max-width: 1415px;
	min-width: 200px;
	height: 100%;
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 100px;
	background-color: #ffffff;
	border-radius: 2px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}

#header img {
	max-width: 100%;
	min-width: 200px;
	display:flex;
	border-radius: 2px 2px 0px 0px;
}

#menu {
	display: flex;
	background-color: #191919;
	height: 35px;
	max-width: 100%;
	min-width: 200px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: -36px;
}



.boton {
	display: block;
	text-align: center;
	vertical-align: center;
	background-color: white;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 4px; 
	color: #4171c4; /*color texto*/
	font-size: 20px;
	font-family: fantasy;
	text-decoration: none; /*decoración texto*/
	border-radius: 1px; /*bordes redondos*/
}

#content {
	display: flex;

}

#divmenu {
	width: 17%;
	min-width: 150px;
	height: 100%;
	display: block;
	border-radius: 0px 0px 2px 2px;
	margin-right: 4px; 
	background-color: #ffffff;
	padding-right: 4px;
	padding-left: 4px;
	padding-top: 8px;
	align-content: center;
	border-right: #a1a1a1 3px solid;
	border-bottom: #a1a1a1 3px solid;
	
}

#imagenescoches {
	width: 35%;
}

.bmenu {
	background-color: #a2beeb;
	display: block;
	text-decoration: none;
	color: #212121;
	padding-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 2px;
	font-family: fantasy;
}

.bsubmenu {
	background-color: #B2B1B1;
	display: block;
	text-decoration: none;
	text-align: left;
	color: #212121;
	padding-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 2px;
	font-family: fantasy;
}

#divcont {
	width: 85%;
	height: 100%;
	display: block;
	border-radius: 0px 0px 2px 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ffffff
	border-left: #a1a1a1 4px solid;
}

#divcontshop {
	width: 85%;
	height: 100%;
	display: flex;
	border-radius: 0px 0px 2px 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ffffff;
	border-left: #a1a1a1 4px solid;
}

#divcontshop img {
	width: 100%;
}

#lista {
	text-align: left;
}

#lista button {
	background: gold;
	width: 280px;
	height: 30px;
}

.textcontent {
	background-color: #ffffff;
	display: block;
	text-decoration: none;
	color: #212121;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 4px;
	margin-bottom: 8px;
	border-radius: 2px;
	border: #a2beeb 2px solid;
	border-top-left-radius: 20px;
  	border-bottom-right-radius: 20px;
}

.textcontent img {
	min-width: 300px;
	min-height: 170px;
	max-width: 300px;
	max-height: 170px;
}

.textcontent a {
	text-decoration: 
	color: black;
}

.textshop {
	background-color: #B2B1B1;
	display: block;
	text-decoration: none;
	color: #212121;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 2px;
}

.marcalogo {
	border: #a2beeb 2px solid;
	border-top-right-radius: 20px;
  	border-bottom-left-radius: 20px;
}

h2 {
	font-size: 38px;
	vertical-align: middle;
}

#cnp img {
	height: 140px;
	width: 125px;
}

#gc img {
	height: 140px;
	width: 125px;
}

#cr img {
	height: 140px;
	width: 140px;
}

#samur img {
	height: 145px;
	width: 145px;
}

#mapfre img {
	height: 120px;
	width: 210px;
}

#taxi img {
	height: 140px;
	width: 140px;
}

#ume img {
	height: 160px;
	width: 145px;
}

#bmw img {
	height: 140px;
	width: 140px;
}

#eurocopter img	{
	height: 140px;
	width: 140px;
}

#ford img {
	padding-top: 20px;
	height: 70px;
	width: 150px;
}

#inkas img {
	height: 120px;
	width: 120px;
}

#kia img {
	height: 120px;
	width: 150px;
}

#landrover img {
	height: 100px;
	width: 150px;
	margin-top: 20px;
}

#mbenz img {
	height: 140px;
	width: 150px;
}

#mitsubishi img	{
	height: 130px;
	width: 150px;
}

#mtl img {
	height: 100px;
	width: 200px;
}

#seat img {
	height: 140px;
	width: 140px;
}

#skoda img	{
	height: 130px;
	width: 160px;
}

#toyota img	{
	height: 130px;
	width: 150px;
}

#vw img {
	height: 140px;
	width: 140px;
}

#volvo img {
	padding-left: -20px;
	padding-right: -20px;
	height: 140px;
	width: 140px;
}

#novedad h2 {
	background: #a2beeb;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#novedad p {
	padding-top: 5px;
	padding-bottom: 14px;
	padding-left: 5px;
}

#linovedad {
	padding-left: 20px;
}

#vyt {
	text-align: center;
}

#novedad {
	border: grey 5px outset;
	border-radius: 10px;
}

#novedad iframe {
	border: #a2beeb 4px solid;
	border-radius: 5px;
}

#padding {
	padding-top: 8px;
	padding-bottom: 8px;
}

#ELSyADDON {
	display: flex;
	flex-direction: column;
}

#ELS {
	padding-left: 20px;
	padding-right: 20px;
	border: grey 5px outset;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#ELSyADDON p, h2, h1 {
	padding-top: 6px;
	padding-bottom: 6px;
}

#ELSyADDON h1 {
	text-align: center;
	font-size: 38px;
	background-color: #a2beeb
}
#ELSyADDON h2 {
	font-size: 30px;
}

#listavent {
	padding-left: 20px;
}

#elsimages {
	padding-bottom: 10px;
	padding-top: 10px;
}

#elsimages img {
	border: #a2beeb 5px solid;
	border-radius: 5px;
}

#elsimages img {
	min-height: 175px;
	min-width: 400px;
	max-height: 175px;
	max-width: 400px;
}

#replaceaddon {
	padding: 20px;
	border: grey 5px outset;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#ELSyADDON h1 {
	padding: 10px;
	border: grey 5px solid;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0px;
}

#replaceaddon h1 {
	padding: 0px;
}

#footer {
	text-align: center;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	position:absolute; 
	height: 10em; 
	font-size: 12px;
	color: grey;
	text-decoration: none;
}

#footer a {
	color: grey;
	text-decoration: none;
	margin-right: 5px;
}

